.main {
  display: flex;
  flex-direction: row;

}
.content {
  position: relative;
  width: 80%;
  padding: 0 40px;
  display: flex;
  flex: 1;
  flex-direction: column;

  @media (max-width: 575px) {
    width: 100%;
  }


}
.content__cinema {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px;

  box-shadow: $shadow;
  background-color: $white;

  @media (max-width: 575px) {
    flex-direction: column;
    justify-content: center;
  }
}

.content__item {
  position: relative;/*
  padding: 20px 30px;*/
  max-width: 205px;

  overflow: hidden;
  background-color: $black;

  &:hover {
    .content__img {
      opacity: .3;
    }
    .content__line {
      transform: translateY(0);
    }

  }
}
.content__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content__line {
  font-size: 15px;
  color: $white;

  transform: translateY(-500%);
  transition: transform .2s linear;
}
.content__img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .1s linear;
}


.icon-plus {
  display: flex;
  width: 40px;
  height: 40px;

  fill: $gray;

  transition: fill 0.1s linear;
}




