@import "../vars";

.header {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;

    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $white;
}


.logo {
    font-size: 40px;
    font-weight: 800;
    padding-left: 20px;
    text-decoration: none;
    color: $black;
}
