<div id="openModal" class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" href="#" title="Close">
                <svg class="modal__close--icon"><use xlink:href="#icon-cross"></use></svg>
            </a>
            <div class="modal__title">Добавить фильм</div>
            <div class="modal__text">Заполните форму ниже, для добавления в список!</div>
            <form class="form" action="/" method="post">
                <div class="form__group">
                    <input class="input" type="text" placeholder="Название фильма">
                </div>
                <div class="form__group">
                    <input class="input" type="text" placeholder="Описание фильма">
                </div>
                <div class="form__group">
                    <input class="input" type="text" placeholder="Режиссер фильма">
                </div>
                <div class="form__group">
                    <input class="input" type="number" placeholder="Год выхода">
                </div>
                <div class="form__group">
                    <select name="Status" id=""></select>
                </div>
                <button class="btn btn--mustard" type="submit">Добавить фильм</button>
            </form>
        </div>
    </div>
</div>
